.c-gray1 {
  color: $fontColor1;
}

.c-gray2 {
  color: $fontColor2;
}

.c-gray3 {
  color: $fontColor3;
}

.c-gray4 {
  color: $fontColor4;
}
.c-gray5 {
  color: $fontColor5;
}

.c-blue {
  color: $blue;
}

.c-green {
  color: $green;
}
.c-white {
  color: $white;
}

.c-red {
  color: $red;
}

.c-orange {
  color: $orange;
}

.c-a {
  color: $color6
}
