.fz12 {
  font-size: $fontSize6;
}

.fz13 {
  font-size: $fontSize7;
}

.fz14 {
  font-size: $fontSize5;
}

.fz16 {
  font-size: $fontSize4;
}

.fz18 {
  font-size: $fontSize3;
}

.fz20 {
  font-size: $fontSize2;
}

.fz28 {
  font-size: 28px;
}

.fz36 {
  font-size: $fontSize1;
}

td.t-fz12 {
  font-size: $fontSize6;
}

td.t-fz14 {
  font-size: $fontSize5;
}

td.t-fz16 {
  font-size: $fontSize4;
}

td.t-fz18 {
  font-size: $fontSize3;
}

td.t-fz20 {
  font-size: $fontSize2;
}

td.t-fz28 {
  font-size: 28px;
}

td.t-fz36 {
  font-size: $fontSize1;
}