// 5px ~ 40px
@for $i from 0 to 9 {
    .ml#{$i * 5} {
        margin-left: $i * 5px !important;
    }

    .mr#{$i * 5} {
        margin-right: $i * 5px !important;
    }

    .mt#{$i * 5} {
        margin-top: $i * 5px !important;
    }

    .mb#{$i * 5} {
        margin-bottom: $i * 5px !important;
    }
}

.nomargin{
    margin-left:0!important;
    margin-right:0!important;
    margin-top:0!important;
    margin-bottom:0!important;
}

.m_l-a{
    margin-left: auto;
}