.point {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w_bk-a {
  word-break: break-all;
}

.search {
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 38px;
  text-align: center;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  line-height: 38px;
}

.co-p {
  cursor: pointer;
}

.label-tips {
  color: #bbbbbb;
}

.pic-text {
  color: $blue;
  @extend .fz16;
}

.goBack {
  font-size: 16px;
  color: #45a2ff;

  a {
    color: #45a2ff;
  }
}

.radius {
  width: 20px;
  height: 20px;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  border-radius: 50%;
  color: #666
}
