// 5px ~ 50px
@for $i from 0 to 9 {
  .pl#{$i * 5} {
      padding-left: $i * 5px !important;
  }

  .pr#{$i * 5} {
      padding-right: $i * 5px !important;
  }

  .pt#{$i * 5} {
      padding-top: $i * 5px !important;
  }

  .pb#{$i * 5} {
      padding-bottom: $i * 5px !important;
  }
  .p#{$i * 5} {
    padding: $i * 5px !important;
}
}

.nopadding{
    padding-left:0!important;
    padding-right:0!important;
    padding-top:0!important;
    padding-bottom:0!important;
}