// 工具样式

.text-ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearmid {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.clearfix {
  &::after {
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    content: '';
  }
}

.abs-c {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table-column-img {
  max-width: 58px;
  max-height: 58px;
}

@mixin multi-ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
