@font-face {
  font-family: 'won-icons';
  src:  url('../fonts/won-icons.eot?ak6f1r');
  src:  url('../fonts/won-icons.eot?ak6f1r#iefix') format('embedded-opentype'),
    url('../fonts/won-icons.ttf?ak6f1r') format('truetype'),
    url('../fonts/won-icons.woff?ak6f1r') format('woff'),
    url('../fonts/won-icons.svg?ak6f1r#won-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="el-icon-won-"], [class*=" el-icon-won-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'won-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-won-1:before {
  content: "\e900";
}
.el-icon-won-2:before {
  content: "\e901";
}
.el-icon-won-3:before {
  content: "\e902";
}
.el-icon-won-4:before {
  content: "\e903";
}
.el-icon-won-5:before {
  content: "\e904";
}
.el-icon-won-6:before {
  content: "\e905";
}
.el-icon-won-7:before {
  content: "\e906";
}
.el-icon-won-8:before {
  content: "\e907";
}
.el-icon-won-9:before {
  content: "\e908";
}
.el-icon-won-10:before {
  content: "\e909";
}
.el-icon-won-11:before {
  content: "\e90a";
}
.el-icon-won-12:before {
  content: "\e90b";
}
.el-icon-won-13:before {
  content: "\e90c";
}
.el-icon-won-14:before {
  content: "\e90d";
}
.el-icon-won-15:before {
  content: "\e90e";
}
.el-icon-won-16:before {
  content: "\e90f";
}
.el-icon-won-17:before {
  content: "\e910";
}
.el-icon-won-18:before {
  content: "\e911";
}
.el-icon-won-19:before {
  content: "\e912";
}
.el-icon-won-20:before {
  content: "\e913";
}
.el-icon-won-21:before {
  content: "\e914";
}
.el-icon-won-22:before {
  content: "\e915";
}
.el-icon-won-23:before {
  content: "\e916";
}
.el-icon-won-24:before {
  content: "\e917";
}
.el-icon-won-25:before {
  content: "\e918";
}
.el-icon-won-26:before {
  content: "\e919";
}
.el-icon-won-27:before {
  content: "\e91a";
}
.el-icon-won-28:before {
  content: "\e91b";
}
.el-icon-won-29:before {
  content: "\e91c";
}
.el-icon-won-30:before {
  content: "\e91d";
}
.el-icon-won-31:before {
  content: "\e91e";
}
.el-icon-won-32:before {
  content: "\e91f";
}
.el-icon-won-33:before {
  content: "\e920";
}
.el-icon-won-34:before {
  content: "\e921";
}
.el-icon-won-35:before {
  content: "\e922";
}
.el-icon-won-36:before {
  content: "\e923";
}
.el-icon-won-37:before {
  content: "\e924";
}
.el-icon-won-38:before {
  content: "\e925";
}
.el-icon-won-39:before {
  content: "\e926";
}
.el-icon-won-40:before {
  content: "\e927";
}
.el-icon-won-41:before {
  content: "\e928";
}
.el-icon-won-42:before {
  content: "\e929";
}
.el-icon-won-43:before {
  content: "\e92a";
}
.el-icon-won-44:before {
  content: "\e92b";
}
.el-icon-won-45:before {
  content: "\e92c";
}
.el-icon-won-46:before {
  content: "\e92d";
}
.el-icon-won-47:before {
  content: "\e92e";
}
.el-icon-won-48:before {
  content: "\e92f";
}
.el-icon-won-49:before {
  content: "\e930";
}
.el-icon-won-50:before {
  content: "\e931";
}
.el-icon-won-51:before {
  content: "\e932";
}
.el-icon-won-52:before {
  content: "\e933";
}
.el-icon-won-53:before {
  content: "\e934";
}
.el-icon-won-54:before {
  content: "\e935";
}
.el-icon-won-55:before {
  content: "\e936";
}
.el-icon-won-56:before {
  content: "\e937";
}
.el-icon-won-57:before {
  content: "\e938";
}
.el-icon-won-58:before {
  content: "\e939";
}
.el-icon-won-59:before {
  content: "\e93a";
}
.el-icon-won-60:before {
  content: "\e93b";
}
.el-icon-won-61:before {
  content: "\e93c";
}
.el-icon-won-62:before {
  content: "\e93d";
}
.el-icon-won-63:before {
  content: "\e93e";
}
.el-icon-won-64:before {
  content: "\e93f";
}
.el-icon-won-65:before {
  content: "\e940";
}
.el-icon-won-66:before {
  content: "\e941";
}
.el-icon-won-67:before {
  content: "\e942";
}
.el-icon-won-68:before {
  content: "\e943";
}
.el-icon-won-69:before {
  content: "\e944";
}
.el-icon-won-70:before {
  content: "\e945";
}
.el-icon-won-71:before {
  content: "\e946";
}
.el-icon-won-72:before {
  content: "\e947";
}
.el-icon-won-73:before {
  content: "\e948";
}
.el-icon-won-74:before {
  content: "\e949";
}
.el-icon-won-75:before {
  content: "\e94a";
}
.el-icon-won-76:before {
  content: "\e94b";
}
.el-icon-won-77:before {
  content: "\e94c";
}
.el-icon-won-78:before {
  content: "\e94d";
}
.el-icon-won-79:before {
  content: "\e94e";
}
.el-icon-won-80:before {
  content: "\e94f";
}
.el-icon-won-81:before {
  content: "\e950";
}
.el-icon-won-82:before {
  content: "\e951";
}
.el-icon-won-83:before {
  content: "\e952";
}
.el-icon-won-84:before {
  content: "\e953";
}
.el-icon-won-85:before {
  content: "\e954";
}
.el-icon-won-86:before {
  content: "\e955";
}
.el-icon-won-87:before {
  content: "\e956";
}
.el-icon-won-88:before {
  content: "\e957";
}
.el-icon-won-89:before {
  content: "\e958";
}
.el-icon-won-90:before {
  content: "\e959";
}
.el-icon-won-91:before {
  content: "\e95a";
}
.el-icon-won-93:before {
  content: "\e95b";
}
.el-icon-won-92:before {
  content: "\e95c";
}
.el-icon-won-94:before {
  content: "\e95d";
}
.el-icon-won-95:before {
  content: "\e95e";
}
.el-icon-won-96:before {
  content: "\e95f";
}
.el-icon-won-97:before {
  content: "\e960";
}
.el-icon-won-98:before {
  content: "\e961";
}
.el-icon-won-99:before {
  content: "\e962";
}
.el-icon-won-100:before {
  content: "\e963";
}
.el-icon-won-101:before {
  content: "\e964";
}
.el-icon-won-102:before {
  content: "\e965";
}
.el-icon-won-103:before {
  content: "\e966";
}
.el-icon-won-104:before {
  content: "\e967";
}
.el-icon-won-105:before {
  content: "\e968";
}
.el-icon-won-106:before {
  content: "\e969";
}
.el-icon-won-107:before {
  content: "\e96a";
}
.el-icon-won-108:before {
  content: "\e96b";
}
.el-icon-won-109:before {
  content: "\e96c";
}
.el-icon-won-110:before {
  content: "\e96d";
}
.el-icon-won-111:before {
  content: "\e96e";
}
.el-icon-won-112:before {
  content: "\e96f";
}
.el-icon-won-113:before {
  content: "\e970";
}
.el-icon-won-114:before {
  content: "\e971";
}
.el-icon-won-115:before {
  content: "\e972";
}
.el-icon-won-116:before {
  content: "\e973";
}
.el-icon-won-117:before {
  content: "\e974";
}
.el-icon-won-118:before {
  content: "\e975";
}
.el-icon-won-119:before {
  content: "\e976";
}
.el-icon-won-120:before {
  content: "\e977";
}
.el-icon-won-121:before {
  content: "\e978";
}
.el-icon-won-122:before {
  content: "\e979";
}
.el-icon-won-123:before {
  content: "\e97a";
}
.el-icon-won-124:before {
  content: "\e97b";
}
.el-icon-won-125:before {
  content: "\e97c";
}
.el-icon-won-126:before {
  content: "\e97d";
}
.el-icon-won-127:before {
  content: "\e97e";
}
.el-icon-won-128:before {
  content: "\e97f";
}
.el-icon-won-129:before {
  content: "\e980";
}
.el-icon-won-130:before {
  content: "\e981";
}
.el-icon-won-131:before {
  content: "\e982";
}
.el-icon-won-132:before {
  content: "\e983";
}
.el-icon-won-133:before {
  content: "\e984";
}
.el-icon-won-134:before {
  content: "\e985";
}
.el-icon-won-135:before {
  content: "\e986";
}
.el-icon-won-136:before {
  content: "\e987";
}
.el-icon-won-137:before {
  content: "\e988";
}
.el-icon-won-138:before {
  content: "\e989";
}
.el-icon-won-139:before {
  content: "\e98a";
}
.el-icon-won-140:before {
  content: "\e98b";
}
