* {
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-wrap {
  background: #324157;
}

a {
  text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tc{
    text-align: center;
}
.mt5{
    margin-top: 5px;
}
.line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.btnh{
    padding: 4px 0px;
}
ul,li{
    list-style: none;
}

