.el-menu-item, .el-submenu__title{
    height: 45px !important;
    line-height: 45px !important;
}
.el-menu-item.is-active{
    color: #31aff9 !important;
}
.el-select-dropdown__wrap{
    max-height: 600px;
}
.el-dialog__wrapper{
    z-index: 2000 !important;
}