.el-menu-item,
.el-submenu__title {
  height: 30px !important;
  line-height: 30px !important;
}

.el-menu-item.is-active {
  color: #31aff9 !important;
}

.el-select-dropdown__wrap {
  max-height: 600px;
}

.el-select-dropdown {
  z-index: 2003 !important;
}

.el-form-left {
  & div:nth-child(1) {
    float: left;
    margin-right: 10px;
  }

  .el-form-item__content {
    overflow: hidden;
  }
}
