.el-button--text.active {
    color: $green!important;
}

.el-button--text.danger:hover {
    color: $red;
}
.el-button--info.helpicon{
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    &::after{
        content: '?';
    }
}
.el-button--text.gray {
    color: $fontColor3;
    &:focus,
    &:hover{
        color: mix($white,$fontColor3,20%)
    }
    &:active{
        color: mix($black,$fontColor3,10%)
    }
}

.el-dialog {
    min-width: 450px;
}

.el-scrollbar__wrap{
    box-sizing: content-box;
}

.table-input{
    .cell{
        overflow: visible!important;
    }
    .el-form-item{
        margin-bottom: 0!important;
    }
}

.el-tree{
    overflow: auto;
}

.el-alert {
    line-height: initial;
    p{
        line-height: 1.5em;
    }   
}

.el-table {
    line-height: initial;
    .el-table__empty-text{
        color: #bbb!important;
    }
    .header-row-light {
        background-color: $color5;
        color: $fontColor1;
        th {
          background-color: $color5;
        }
    }
}