$blue:#45A2FF;
$green:#43D060;
$red:#FF6868;
$orange:#ffc468;
$white:white;
$fontColor1:#62717E;
$fontColor2:#999999;
$fontColor3:#bababa;
$fontColor4:#CCCCCC;
$fontColor5:#606266;
$color0:#97aabe;
$color1:#D0D3D7;
$color2:#DCDFE4;
$color3:#DDDDDD;
$color4:#E4E9EE;
$color5:#F4F7FC;
$color6:#45a2ff;
$fontSize1:36px;
$fontSize2:20px;
$fontSize3:18px;
$fontSize4:16px;
$fontSize5:14px;
$fontSize6:12px;
$fontSize7:13px;
$gray: $fontColor3;
$black: #000;
$white: #fff;